/* .hexagonWrapper {
    position: relative;
    height: 30em;
    width: 50em;
    left: 65%;
    bottom: 20%;
} */

.hexagonImage {
    background-image: url(../../../assets/hexagon_design.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 45em;
    width: 65em;
    /* height: 50em;
    width: 65em; */
    /* bottom: 50%; */
    left: 65%;
    bottom: 45%;

    /* bottom: 27em; */
}
