.default {
    background-color: var(--main-bg-color);
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1.8em;
    font-family: var(--body-font);
    height: 3em;
    width: 13em;
    cursor: pointer;
    padding: 0.6em;
    border-radius: 3px;
}

.default:hover {
    transition: background-color 0.5s;
    background-color: var(--primary-color);
    color: white;
    border-color: white;
}

.default:active {
    transform: translateY(1px);
}
