.wrapper {
    position: relative;
    top: 6em;
    margin: 0 auto;
    width: 90vw;
    color: white;
}

.ctaTitle {
    font-family: var(--title-font);
    font-size: 6.4em;
}

.ctaSubtitle {
    position: relative;
    font-family: var(--body-font);
    font-size: 3em;
    bottom: 20px;
}

@media only screen and (min-width: 1450px) {
    .ctaTitle {
        font-size: 8em;
    }
}
