:root {
  --main-bg-color: #323232;
  --primary-color: #18c0f0;
  --secondary-color: #ff6562;
  --title-font: 'Gotu', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --default-radius: 3px;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  font-family: var(--body-font) sans-serif;
  /* , -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
