.wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.form {
    display: flex;
    align-items: center;
    margin-top: 2.5em;
}

.comingSoonText {
    color: var(--primary-color);
    font-family: var(--body-font);
    font-size: 2em;
}
