.wrapper {
  display: flex;
  /* align-items: baseline; */
  justify-content: flex-start;
  flex-direction: column;
}

.form {
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.comingSoonText {
  /* color: #ffd836; */
  color: var(--primary-color);
  font-family: var(--body-font);
  font-size: 2em;
}
